---
import { Menu } from "@ui/shadcn/comp/menu";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>This is Astro page.. cna yuo seeit ?</title>
	</head>
	<body>
		<div class="">
			<h1>Astro! I love it.. isn't work for tailwind? sure</h1>
			<Menu />
		</div>
	</body>
</html>
