---
const pageTitle = "about me";
const say = "hehe";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">home </a>
    <h1>
      This is About page ..{say}
      <div>this is new Astro pag<div></div></div>
    </h1>
  </body>
</html>
