---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>First Astro blog</title>
  </head>
  <body>
    <a href="/about">about</a>
    <h1>
      This is my Fist Astro Blog page..!
      <div>this is new Astro pag<div></div></div>
    </h1>
  </body>
</html>
